QueueSystem.Clients/DoctorsView/Connected Services/QueueSystemServiceReference/QueueMessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueueSystem.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueueSystem.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueueData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueueNo" type="xs:int" />
      <xs:element minOccurs="0" name="QueueNoMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserInitials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSenderActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueData" nillable="true" type="tns:QueueData" />
</xs:schema>