QueueSystem.Clients/DoctorsView/Connected Services/QueueSystemServiceReference/QueueMessageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="QueueSystem.Contract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="QueueSystem.Contract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="QueueSystem.Contract/Imports">
      <xsd:import schemaLocation="http://localhost:6666/QueueMessageService?xsd=xsd0" namespace="QueueSystem.Contract" />
      <xsd:import schemaLocation="http://localhost:6666/QueueMessageService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6666/QueueMessageService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QueueSystem.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Contract_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="Contract_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="Contract_ReceiveQueueNo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveQueueNo" />
  </wsdl:message>
  <wsdl:message name="Contract_ReceiveAdditionalMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveAdditionalMessage" />
  </wsdl:message>
  <wsdl:message name="Contract_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="Contract_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="Contract_GetQueueData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueData" />
  </wsdl:message>
  <wsdl:message name="Contract_GetQueueData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueDataResponse" />
  </wsdl:message>
  <wsdl:message name="Contract_Livebit_InputMessage">
    <wsdl:part name="parameters" element="tns:Livebit" />
  </wsdl:message>
  <wsdl:message name="Contract_Livebit_OutputMessage">
    <wsdl:part name="parameters" element="tns:LivebitResponse" />
  </wsdl:message>
  <wsdl:message name="Contract_NotifyOfEstablishedConnection_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfEstablishedConnection" />
  </wsdl:message>
  <wsdl:message name="Contract_NotifyOfReceivedQueueNo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfReceivedQueueNo" />
  </wsdl:message>
  <wsdl:message name="Contract_NotifyOfReceivedAdditionalMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOfReceivedAdditionalMessage" />
  </wsdl:message>
  <wsdl:message name="Contract_NotifyClientDisconnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientDisconnected" />
  </wsdl:message>
  <wsdl:message name="Contract_NotifyClientWithQueueData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientWithQueueData" />
  </wsdl:message>
  <wsdl:message name="Contract_NotifyServerAlive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyServerAlive" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="Contract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="QueueSystem.Contract/Contract/Connect" message="tns:Contract_Connect_InputMessage" />
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/ConnectResponse" message="tns:Contract_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveQueueNo">
      <wsdl:input wsaw:Action="QueueSystem.Contract/Contract/ReceiveQueueNo" message="tns:Contract_ReceiveQueueNo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveAdditionalMessage">
      <wsdl:input wsaw:Action="QueueSystem.Contract/Contract/ReceiveAdditionalMessage" message="tns:Contract_ReceiveAdditionalMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="QueueSystem.Contract/Contract/Disconnect" message="tns:Contract_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/DisconnectResponse" message="tns:Contract_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetQueueData">
      <wsdl:input wsaw:Action="QueueSystem.Contract/Contract/GetQueueData" message="tns:Contract_GetQueueData_InputMessage" />
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/GetQueueDataResponse" message="tns:Contract_GetQueueData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Livebit">
      <wsdl:input wsaw:Action="QueueSystem.Contract/Contract/Livebit" message="tns:Contract_Livebit_InputMessage" />
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/LivebitResponse" message="tns:Contract_Livebit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyOfEstablishedConnection">
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/NotifyOfEstablishedConnection" message="tns:Contract_NotifyOfEstablishedConnection_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyOfReceivedQueueNo">
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/NotifyOfReceivedQueueNo" message="tns:Contract_NotifyOfReceivedQueueNo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyOfReceivedAdditionalMessage">
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/NotifyOfReceivedAdditionalMessage" message="tns:Contract_NotifyOfReceivedAdditionalMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyClientDisconnected">
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/NotifyClientDisconnected" message="tns:Contract_NotifyClientDisconnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyClientWithQueueData">
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/NotifyClientWithQueueData" message="tns:Contract_NotifyClientWithQueueData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyServerAlive">
      <wsdl:output wsaw:Action="QueueSystem.Contract/Contract/NotifyServerAlive" message="tns:Contract_NotifyServerAlive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>